.list-courses {
  width: 100%;

  .course:hover {
    .image-course {
      &::before {
        background-color: rgba(63, 60, 60, 0.267);
      }
    }
  }

  .image-course {
    display: block;
    overflow: hidden;
    aspect-ratio: 16/9;
    position: relative;
    &::before {
      position: absolute;
      transition: 0.2s all;
      top: 0;
      left: 0;
      content: "";
      background-color: transparent;
      width: 100%;
      height: 100%;
    }
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  .date {
    padding-top: 10px;
    color: var(--color-muted);
  }
  .name-course {
    padding: 10px 0 0;
    a {
      font-size: 1.6rem;
      font-weight: 700;
      color: #000;
      &:hover {
        color: rgb(63, 60, 60);
      }
    }
  }
  .course-info {
    padding-top: 5px;
  }
  .rating {
    margin-bottom: 0.6rem;
    color: #b4690e;
    .avg-rating {
      vertical-align: middle;
      font-weight: 700;
      font-size: 1.4rem;
      margin-right: 5px;
    }
    .count {
      margin-left: 5px;
      vertical-align: middle;
      font-size: 1.4rem;
      color: rgb(83, 82, 82);
    }
  }
  .price {
    font-size: 1.8rem;
  }
  .author {
    font-size: 1.3rem;
    color: var(--color-muted);
    text-decoration: underline;
  }
}
