.header-bar {
    background-color: #000;
    h1 {
        max-width: 1200px;
        margin: auto;
        font-size: 40px;
        color: #fff;
        padding: 5rem;
        font-family: Georgia, "Times New Roman", Times, serif;
    }
}
