.loading-pulse {
  animation: loading-pulse 0.8s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  pointer-events: none;
}
@keyframes loading-pulse {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.7;
  }
}
