.logo {
  line-height: 1;
  svg {
    width: 170px;
    transition: all 0.2s;
  }
  .cls-3,
  .cls-4,
  .cls-2 {
    transition: all 0.2s;
  }
  &:hover {
    .cls-3 {
      stroke: #7a767b;
    }
  }

  // @include responsive(425px) {
  //     svg {
  //         width: 130px;
  //     }
  // }
}
