.payment.container {
    min-height: 100vh;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 2rem;
    left: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.2);
}
.form-payment {
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    max-height: calc(100vh - 6rem);
    overflow-y: auto;
    max-width: 450px;
    width: 100%;
    margin: auto;
    padding: 2rem 3rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    table {
        width: 100%;
        margin-bottom: 2rem;
        tr {
            td:first-child {
                color: rgb(170, 151, 151);
                text-align: left;
            }
            td:last-child {
                color: rgb(102, 93, 93);
                text-align: right;
            }
        }
    }
    .shopping-list__container {
        max-height: 200px;
        overflow-y: auto;
    }
    .shopping-list {
        border-collapse: collapse;
        th,
        td {
            text-align: center !important;
            vertical-align: top;
            padding: 5px 10px;
            border: 1px solid #000;
            white-space: nowrap;
        }
        td {
            img {
                width: 50px;
                height: 50px;
                object-fit: cover;
            }
            &:nth-child(1) {
                max-width: 100px;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 65%;
            }
            &:nth-child(2) {
                width: 35%;
            }
        }
    }
    .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem 3rem 0;
        a {
            padding: 1rem 2rem;
            border-radius: 4px;
            color: #fff;
            font-weight: bold;
            border: 1px solid #e260f3;
            background-color: #e260f3;
            &:hover {
                background-color: rgb(202, 75, 219);
            }
            &:first-child {
                background-color: #fff;
                margin-right: 5px;
                color: #647bff;
                border: 1px solid #647bff;
                &:hover {
                    background-color: rgba(240, 240, 240, 0.897);
                }
            }
        }
    }
    .icon-check {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 4.5rem;
        color: #34b77a;
        margin-bottom: 1rem;
    }
    .title-payment {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.2rem;
        color: #34b77a;
        margin-bottom: 4rem;
    }
    .paid {
        padding: 1rem 0;
        font-size: 2rem;
        font-weight: 700;
        border-top: 1px solid rgb(204, 186, 186);
    }
}
