// footer
.footer {
    background: #1c1d1f;
    padding: 5rem 0;
    color: #fff;
    border-top: 1px solid #dcdacb;
    .footer-content {
        padding: 0 3rem;
        display: flex;
        flex-wrap: wrap;
        .col:nth-child(1) {
            flex: 0 1 40%;
            margin-right: var(--spacing-2);
        }
        .col:nth-child(2) {
            margin-right: var(--spacing-2);
            margin-left: auto;
        }
        .col:nth-child(3) {
            margin-left: auto;
        }
    }
    .col {
        h4,
        p {
            margin-bottom: var(--spacing-1);
        }
        a {
            color: var(--color-blue);
        }
    }
}
@media only screen and (max-width: 768px) {
    .footer {
        .footer-content {
            flex-direction: column;
        }
        .col {
            flex: 1 1 100% !important;
            margin: 0 0 var(--spacing-2) !important;
        }
    }
}
