.edit-course-section {
    position: relative;
    background-color: #fff;
    padding: 0 2rem;
    margin-bottom: 4rem;
    #form-course {
        display: flex;
    }
    .sec-title {
        border-bottom: 1px solid #d3dce0;
        margin: 0 -2rem;
        padding: 2rem;
    }
    .left-column {
        flex-grow: 1;
        padding-right: 3rem;
        overflow-y: auto;
        max-height: calc(100vh - 140px);
        h6 {
            position: relative;
            color: var(--color-dark);
            font-weight: 700;
            margin-bottom: 1.5rem;
        }
    }
    .right-column {
        flex: 0 0 320px;
        padding-left: 3rem;
        border-left: 1px solid #d3dce0;
    }
    .right-column h6 {
        position: relative;
        color: var(--color-dark);
        font-weight: 700;
        margin-bottom: 2.2rem;
    }
    .edit-course-form .form-group {
        position: relative;
        margin-bottom: var(--spacing-3);
        border-left: 3px solid #d3dce0;
        padding-left: 1rem;
    }
    button {
        font-weight: 700 !important;
        outline: none;
        border: none;
        border-radius: 5px;
    }
    label {
        position: relative;
        color: var(--color-dark);
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: var(--spacing-1);
        display: inline-block;
        font-family: 'Roboto', sans-serif;
    }
    input {
        position: relative;
        display: block;
        width: 100%;
        padding: var(--spacing-1) var(--spacing-2);
        color: var(--color-dark);
        border: 1px solid var(--color-border);
        font-size: 1.4rem;
        transition: border 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
        font-family: 'Roboto', sans-serif;
        outline: none;
        border-radius: 5px;
        &::placeholder {
            color: rgb(172, 146, 146);
        }
        &:focus {
            border: 1px solid var(--color-blue) !important;
        }
    }

    .form-group .support {
        position: relative;
        margin: 1rem 0;
        color: var(--color-muted);
        font-size: 1.4rem;
        font-weight: 500;
        display: block;
        padding: var(--spacing-1) var(--spacing-2);
    }
    .form-group textarea {
        position: relative;
        height: 20rem;
        width: 100%;
        resize: none;
        font-size: 1.4rem;
        padding: var(--spacing-1) var(--spacing-2);
        font-family: 'Roboto', sans-serif;
        border: 1px solid var(--color-border);
        outline: none;
        color: var(--color-dark);
        border-radius: 5px;
        &:focus {
            border: 1px solid var(--color-blue) !important;
        }
    }

    // accordion
    .accordion-box .block {
        margin-bottom: var(--spacing-2);
        display: flex;
        position: relative;
        background: var(--color-bgr);
        padding: 2rem;
        border-radius: 5px;
        flex-direction: column;
        input:read-only {
            border-color: transparent !important;
            padding: 0 var(--spacing-1) !important;
        }
    }
    button.edit-btn {
        align-self: flex-end;
        margin-bottom: 2rem;
    }
    .accordion-box .block .title-section {
        color: var(--color-dark);
        position: relative;
        font-weight: 500;
        margin-bottom: var(--spacing-2);
        text-transform: capitalize;
        display: flex;
        align-items: center;

        .title-section-input {
            padding: 1rem !important;
            font-weight: 600;
            font-size: 1.6rem;
            border-color: transparent;
        }
    }
    ul.content-lesson {
        li {
            position: relative;
        }
    }
    // custom file input
    .input-box {
        flex-shrink: 0;
        position: relative;
        margin-left: auto;
    }
    .input-box .button-add-video {
        padding: 5px 1rem;
        border-radius: 5px;
        border: 1px solid #d3dce0;
        cursor: pointer;
        i {
            pointer-events: none;
            margin: 0 5px;
            font-size: 1.3rem;
        }
    }
    .input-box .dropdown {
        position: absolute;
        top: 105%;
        left: 0;
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #d3dce0;
        font-weight: 600;
        opacity: 0;
        visibility: hidden;
        z-index: 20;
        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
    .dropdown {
        span,
        label {
            cursor: pointer;
            padding: 8px 1.2rem;
            display: block;
            margin: 0;
            line-height: 1;
        }
        label {
            border-bottom: 1px solid #d3dce0;
        }
    }
    .input-file-trigger {
        color: #fff !important;
        display: block !important;
        font-size: 1.3rem !important;
        margin: 0 !important;
        transition: all 0.3s;
        cursor: pointer;
    }
    .upload-video-lesson {
        margin: 0 !important;
        position: absolute !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: -1;
    }
    .upload-video-lesson:hover + .input-file-trigger,
    .input-file-trigger:hover {
        color: #e4e4e4;
    }

    .file-return {
        margin: 0;
    }
    .file-return:not(:empty) {
        margin: 1rem 0;
    }
    .file-return {
        font-style: italic;
        font-size: 0.9em;
        font-weight: bold;
    }
    .file-return:not(:empty):before {
        content: 'Đã chọn: ';
        font-style: normal;
        font-weight: normal;
    }

    // assetcard
    .assetCard-wrapper {
        position: absolute;
        right: 1rem;
        top: 5rem;
        width: 30rem;
        padding: 2rem;
        border-radius: 6px;
        z-index: 150;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
        border: 1px solid #c5c5c5;
        color: #000;
        &.active {
            opacity: 1;
            visibility: visible;
        }
        .title {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
                sans-serif;
            font-weight: 500;
            text-transform: uppercase;
            display: inline-block;
            margin-bottom: 1rem;
        }
        .file-info,
        .actions {
            display: flex;
            flex-direction: column;
            > span {
                display: inline-block;
                cursor: pointer;
                margin: 0 -2rem;
                padding: 1rem 2rem;
                &:hover {
                    background-color: #f1f1f1;
                }
            }
        }
        .file-info {
            > span {
                cursor: default;
            }
        }

        span.bar {
            display: block;
            height: 1px;
            background-color: rgb(197, 197, 197);
            margin: 1rem -2rem;
        }
    }

    button.edit-btn,
    button.add-thumbnail {
        background: var(--color-red);
        padding: 5px 7px;
        color: #fff;
        border-radius: 5px;
        flex-shrink: 0;
    }
    button.actions-btn {
        margin-left: var(--spacing-2);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        background: var(--color-white) !important;
        color: var(--color-dark);
        background: transparent;
        &.active {
            background-color: #dfdbdb !important;
            color: #000;
        }
        i {
            pointer-events: none;
        }
    }
    .accordion-box .block ul {
        li.lesson-item {
            border: 1px dashed rgb(180, 195, 202);
            padding: 2rem;
            background-color: #fff;
            border-radius: 5px;
            margin-bottom: var(--spacing-1);
            display: flex;
            align-items: flex-start;
        }

        .minutes {
            flex-shrink: 0;
            margin-left: 1rem;
        }
        .title-lesson,
        .minutes {
            color: var(--color-muted);
        }
        .title-lesson {
            padding: 0 !important;
            border: none;
            margin-right: 2rem;
        }
    }

    .add-lesson {
        padding: var(--spacing-1);
        button {
            padding: 5px 7px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            background-color: var(--color-muted);
            color: var(--color-white);
            i {
                margin-right: 5px;
                pointer-events: none;
            }
        }
    }

    .accordion-box .block .icon-close {
        color: var(--color-dark);
        text-align: right;
        margin-bottom: var(--spacing-2);
        i {
            font-size: 2.2rem;
            cursor: pointer;
        }
    }
    .form-input .content {
        display: flex;
        width: 100%;
    }
    .form-input .upload-btn,
    .save-title-btn {
        margin-left: 1rem;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        cursor: pointer;
        color: #fff !important;
        background-color: var(--color-blue);
    }
    .save-title-btn:disabled {
        background-color: rgb(192, 192, 192);
    }
    .acc-content .input-title,
    .accordion .input-title-section {
        width: 100%;
        &:focus {
            border-color: var(--color-blue);
        }
    }

    // BOX
    .course-box,
    .modal-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        height: 100%;
        z-index: 9999;
        display: flex;
        opacity: 0;
        visibility: hidden;
        padding: 0 !important;
        align-items: center;
        color: #fff;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.4) !important;
        &.active {
            opacity: 1;
            visibility: visible;
        }
    }
    // COURSE BOX
    .course-box {
        .content {
            border-radius: 1rem;
            background-color: #fff;
            color: #000;
            position: relative;
            opacity: 0;
            visibility: hidden;
            transform: scale(0.8);
            transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            &.show {
                transform: scale(1);
                opacity: 1;
                visibility: visible;
            }
        }
        .content-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: var(--spacing-1) var(--spacing-3);
            border-bottom: 1px solid var(--color-muted);
            i {
                cursor: pointer;
            }
        }
        .upload-file {
            padding: var(--spacing-3);
            strong {
                color: var(--color-red);
                display: block;
                margin-top: 1rem;
            }
        }
    }
    // MODAL BOX
    .modal-content {
        max-width: 800px;
        width: 100%;
        background-color: #fff;
        color: #000;
        z-index: 10;
        padding: 0 3rem 2rem;
        border-radius: 1rem;
    }
    .modal-header {
        border-bottom: 1px solid #d3dce0;
        padding: 1.5rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }
    .txt-header {
        font-size: 1.6rem;
    }
    i {
        cursor: pointer;
    }
    .modal-list {
        margin: 0 -8px;
        display: flex;
        flex-wrap: wrap;
    }
    .asset-item {
        cursor: pointer;
        width: calc(25% - 16px);
        margin: 0 8px 16px;
        border: 1px solid #d3dce0;
        border-radius: 5px;
        &:hover {
            border-color: #2e75d4;
        }
    }
    .asset-header {
        display: flex;
        align-items: center;
        padding: 1rem 2rem;
        border-bottom: 1px solid #d3dce0;
        margin-bottom: 1rem;
        i {
            margin-left: auto;
        }
    }
    .asset-content {
        padding: 1rem 2rem;
        .icon {
            margin-bottom: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        i {
            font-size: 4rem;
        }
        .asset-title {
            text-align: center;
            display: block;
            color: #606c7c;
        }
    }
    // LESSON BOX
    .lesson-box {
        // opacity: 0;
        // visibility: hidden;
        background-color: #fff;
        color: #000;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        width: 600px;
        padding: 0 3rem 2rem;
        border-radius: 1rem;
        &.show {
            opacity: 1;
            visibility: visible;
        }
        header {
            text-align: center;
            margin: 0 -3rem 2rem;
            padding: 2rem 3rem;
            border-bottom: 1px solid var(--color-muted);
        }
        .lesson-title {
            display: flex;
            flex-direction: column;
            // margin-right: 3rem;
            border: 1px solid #c0c0c0;
            border-radius: 5px;
            padding: 2rem;
            label {
                color: rgb(94, 94, 94);
                margin-bottom: 1rem;
            }
            input {
                padding: 5px;
                font-size: 1.8rem;
                border: none;
                background-color: transparent !important;
                &:focus {
                    outline: none;
                    border: none !important;
                }
            }
        }
        .video-info {
            span {
                display: inline-block;
                color: rgb(94, 94, 94);
                margin-bottom: 1rem;
            }
            .video-title {
                word-break: break-word;
                margin-bottom: 1rem;
            }
        }
        footer {
            margin-top: var(--spacing-3);
            display: flex;
            // justify-content: space-between;
            align-items: center;
        }
        .btn-cancel,
        .btn-accept,
        .btn-create-lesson {
            padding: 1rem 2rem;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn-cancel {
            margin-right: 1rem;
            margin-left: auto;
        }
        .btn-accept,
        .btn-create-lesson {
            background-color: var(--color-blue);
            color: #fff;
        }
    }

    .btn-style-two {
        margin-top: var(--spacing-2);
    }

    .thumbnail-boxed {
        margin-bottom: var(--spacing-3);
    }
    .thumbnail-upload {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        color: #000;
        justify-content: center;
        z-index: 999999;
        background-color: rgba(0, 0, 0, 0.4) !important;
        &.show {
            opacity: 1;
            visibility: visible;
        }
        .thumbnail-preview {
            width: 60rem;
            background-color: #fff;
            border-radius: 5px;
            padding: 2rem 3rem 1.5rem;
        }
        .title {
            margin-bottom: 2rem;
            font-weight: 600;
            font-size: 2rem;
        }
        .buttons {
            text-align: right;
        }
        .accept,
        .cancel {
            padding: 8px 3.5rem;
            border-radius: 5px;
            font-weight: 600;
            font-size: 1.7rem;
            line-height: 1;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .accept {
            margin-left: 1rem;
            color: #fff;
            background-color: var(--color-blue);
        }
        .cancel {
            background-color: transparent;
            &:hover {
                background-color: #eeeeee;
            }
        }
        span {
            display: block;
            margin-bottom: 1rem;
        }
        .warning {
            margin: 1rem 0;
            color: var(--color-red);
            font-weight: 600;
        }
    }

    // THUMBNAIL
    .img-preview .content,
    .thumbnail-upload .content {
        position: relative;
        width: 200px;
        margin: 2rem auto;
        display: none;
        border-radius: 6px;
        overflow: hidden;
        .aspect-ratio {
            padding-bottom: 56.25%;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .img-preview .content {
        margin: 2rem 0;
        width: 350px;
    }

    // CATEGORIES
    .category-box,
    .author-box {
        display: flex;
        flex-wrap: wrap;
    }
    .category-item,
    .author-tag {
        margin-bottom: 5px;
        margin-right: 5px;
        padding: 5px 8px;
        border-radius: 4px;
        background: var(--color-muted);
        color: #fff;
        cursor: pointer;
        &.selected {
            background: var(--color-blue);
        }
    }
    // PRICE
    .total-price {
        position: relative;
        color: var(--color-dark);
        font-size: 1.4rem;
        font-weight: 700;
        margin-bottom: var(--spacing-1);
        display: block;
        margin-top: 1.5rem;
        font-family: 'Roboto', sans-serif;
    }
    .item-quantity {
        display: flex;
        align-items: center;
        .quantity-input {
            border: 2px solid var(--color-blue) !important;
        }
    }
    .input-group-btn {
        display: flex;
        flex: 0 0 4rem;
        flex-direction: column;
        .btn {
            color: var(--color-dark);
            background: transparent;
            &:hover {
                color: var(--color-muted);
            }
        }
        .fas.disable {
            pointer-events: none;
            color: rgb(104, 102, 102);
        }
    }

    // BUTTON RIGHT COLUMN
    .button-box {
        position: relative;
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
    }
    // STATE
    #course-state {
        padding: 1rem 0;
        border-radius: 5px;
        border: 2px solid var(--color-blue);
        outline: none;
        font-weight: 600;
        margin-bottom: 2rem;
        background-color: transparent;
        color: var(--color-dark);
        cursor: pointer;
        option {
            font-size: 1.6rem;
            color: #000;
        }
    }
    .button-box .theme-btn {
        margin: 0.5rem 0;
        cursor: pointer;
        background-color: #16875d;
    }
}

// responsive
@media only screen and (max-width: 1200px) {
    .edit-course-section {
        .row {
            flex-direction: column;
        }
        .button-box {
            flex-direction: row !important;
            .theme-btn {
                flex: 1;
            }
        }
    }
}
@media only screen and (max-width: 576px) {
    .edit-course-section {
        .inner-container {
            padding: 2rem 2rem 4rem;
        }
        .button-box {
            flex-direction: column !important;
            .theme-btn {
                margin: 0 0 var(--spacing-1) !important;
            }
        }
        .block .content {
            flex-direction: column;
            align-items: flex-start !important;
        }
    }
}
