.dashboard-section {
    position: relative;
    padding: 6rem var(--spacing-2) 5rem;
    min-height: 100vh;
    .head-intro {
        margin-bottom: var(--spacing-3);
        h1 {
            font-size: 3.3rem;
            color: var(--color-red);
            font-weight: 700;
        }
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -2rem;
        .dashboard-block {
            width: calc(25% - 4rem);
            position: relative;
            margin: 0 var(--spacing-2) var(--spacing-3);
        }
        .inner-box {
            padding: var(--spacing-2);
            border-radius: 5px;
            background-color: var(--color-white);
            box-shadow: 0px 5px 20px rgba(0, 0, 0, 10%);
        }
        .content {
            display: flex;
        }
        .icon-box {
            width: 5rem;
            height: 5rem;
            color: #ffffff;
            font-size: 2rem;
            line-height: 5rem;
            text-align: center;
            border-radius: 4px;
            background-color: #ff5773;
            box-shadow: 0px 10px 18px rgba(255, 87, 115, 5%);
        }
        .courses {
            margin-left: var(--spacing-2);
            color: var(--color-muted);
        }
        .courses span {
            display: block;
            font-size: 2.6rem;
            color: #ff5773;
            font-weight: 700;
        }
        .dashboard-block:nth-child(2) .courses span {
            color: #ff9066;
        }
        .dashboard-block:nth-child(2) .icon-box {
            background-color: #ff9066;
        }
        .dashboard-block:nth-child(3) .courses span {
            color: #f0c142;
        }
        .dashboard-block:nth-child(3) .icon-box {
            background-color: #f0c142;
        }
        .dashboard-block:nth-child(4) .courses span {
            color: #7033ff;
        }
        .dashboard-block:nth-child(4) .icon-box {
            background-color: #7033ff;
        }
    }
}
