.sidebar {
    position: fixed;
    left: 0px;
    padding-top: var(--spacing-2);
    top: var(--height-nav);
    height: 100%;
    width: var(--width-sidebar);
    z-index: 9999;
    border-right: 1px solid var(--color-border);
    background: var(--color-white);
    .navbar {
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .navbar li .navbar-link {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--color-bgr);
        overflow: hidden;

        ul {
            z-index: 8;
            position: relative;
            overflow: hidden;
            width: 20rem;
            opacity: 0;
            visibility: hidden;
            transition: margin 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
            background: var(--color-white);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
        }
        ul.dropdown {
            opacity: 1 !important;
            visibility: visible !important;
            margin-top: 0 !important;
        }
        li {
            color: var(--color-dark);
            padding: 2rem;
            &:not(:last-child) {
                border-bottom: 1px solid var(--color-bgr);
            }
            a {
                color: var(--color-dark);
            }
            &:hover {
                a {
                    color: var(--color-red);
                }
            }
        }
    }
    .icon {
        background-color: rgba(255, 255, 255, 0.04);
        width: 4rem;
        color: var(--color-dark);
        height: 4rem;
        text-align: center;
        font-size: 1.8rem;
        line-height: 4rem;
        position: relative;
        display: inline-block;
    }
    .navbar-link > span {
        padding: 2rem;
        text-transform: capitalize;
        font-size: 1.2rem;
        font-weight: 600;
        display: flex;
        align-items: center;
        color: var(--color-dark);
        position: relative;
        // background: var(--color-white);
        z-index: 10;
        i {
            color: var(--color-dark);
            font-size: 1.5rem;
            margin-right: 1.5rem;
        }
        &.active {
            background-color: var(--color-muted);
            color: #fff;
            i {
                color: #fff;
            }
        }
    }
    a:hover span {
        transform: translateX(0);
    }
}

// responsive

@media only screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }
}
