.alert-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    height: 100%;
    z-index: 9999;
    display: flex;
    opacity: 0;
    visibility: hidden;
    padding: 0 !important;
    align-items: center;
    color: #fff;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4) !important;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}
// ALERT BOX
.alert-box {
    transition: transform 0.3s ease;
    &.active .box {
        transform: scale(1) !important;
    }
    .box {
        transform: scale(0.8);
        background: #fff;
        border-radius: 5px;
        padding: 2rem 3rem;
        color: #000;
        text-align: center;
    }

    h1 {
        margin-bottom: 3rem;
        color: var(--color-red);
    }
    span {
        font-size: 1.8rem;
        font-weight: 500;
        color: var(--color-red);
        display: block;
    }
    button {
        padding: 1rem 2rem;
        border-radius: 5px;
        margin-top: 2rem;
        background: var(--color-blue);
        color: #fff;
    }
}
