@media only screen and (max-width: 1024px) {
    .main-lesson .right-side {
        flex-direction: column;
        &__sidebar {
            flex: 0 1 auto;
            margin-left: 0;
            margin-top: var(--spacing-3);
            .sticky-top {
                position: static;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .main.main-lesson {
        flex-direction: column-reverse;
        .right-side {
            padding: 0 var(--spacing-2);
        }
        .left-side {
            margin-top: var(--spacing-3);
            flex: 0 1 auto;
        }
    }
}
@media only screen and (max-width: 625px) {
    .video-info-boxed {
        flex-direction: column;
        align-items: flex-start !important;
        .pull-right {
            margin-top: var(--spacing-2);
        }
    }
    .tab-btns.tab-buttons {
        display: flex;
        flex-wrap: wrap;
    }
}
