.main-categories {
  padding: 3rem;
  &__main {
    min-height: 90vh;
    display: flex;
  }
  .category-page-container {
    position: relative;
    padding: 0 3rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .sec-title {
      color: var(--color-dark);
      margin-bottom: var(--spacing-3);

      h2 {
        padding-bottom: 1rem;
        position: relative;
        font-weight: 700;
        border-bottom: 1px solid #dcdacb;
        font-size: 3.2rem;
        font-family: Georgia, "Times New Roman", Times, serif;
      }
    }

    .popover.ant-popover-open {
      z-index: 100;
      &:hover {
        .image {
          position: relative;

          &::before {
            width: 100%;
            height: 100%;
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            background-color: rgba(29, 72, 92, 0.459);
            z-index: 10;
            transition: all 0.3s;
          }
        }
      }
    }
  }

  .categories-box {
    flex: 0 0 34rem;
    padding: 0 var(--spacing-2) 0 0;

    .title {
      position: relative;
      padding: 0 0 1.1rem;
      display: block;
      margin-bottom: 0px;
      border-bottom: 1px solid #dcdacb;
      h2 {
        position: relative;
        color: var(--color-dark);
        font-weight: 700;
        font-size: 3.2rem;
        font-family: Georgia, "Times New Roman", Times, serif;
      }
    }
    .categories {
      display: flex;
      flex-direction: column;
      padding: var(--spacing-1) 0 var(--spacing-2);
      a {
        position: relative;
        color: var(--color-dark);
        font-size: 1.4rem;
        font-weight: 600;
        padding: 1rem 15px;
        border-radius: 4px;
        margin-bottom: 7px;
      }
      a:hover,
      a.active {
        background-color: #002333;
        color: #fff;
      }
    }
    .all-category {
      color: var(--color-muted);
      font-size: 1.4rem;
      margin-top: var(--spacing-1);
      display: inline-block;
      text-decoration: underline;
    }
  }
}
