.instructor-page {
  --width-sidebar: 32rem;

  .nav {
    position: fixed;
    top: 0;
    left: 0;
    height: var(--height-nav);
    background-color: #000;
    width: 100%;
    z-index: 1100;
    .nav-content {
      height: 100%;
      display: flex;
      align-items: center;
      max-width: 1440px;
      margin: 0 auto;
      padding: 0px 3rem;
      .header-status {
        height: 2.8rem;
      }
      .preview,
      .header-status,
      .save {
        background-color: rgb(148, 131, 131);
        color: #fff;
        font-weight: 600;
        padding: 0rem 1.2rem;
        display: flex;
        align-items: center;
        line-height: 1;
      }
      .save {
        background-color: #fff;
        color: #000;
        &:hover {
          background-color: rgb(224, 206, 206);
        }
      }
      .save,
      .preview {
        padding: 0 1.5rem;
        height: 3.2rem;
      }
      .save:disabled {
        cursor: not-allowed;
        background-color: rgb(148, 131, 131);
        &:hover {
          background-color: rgb(148, 131, 131);
        }
      }

      a {
        cursor: pointer;
        svg {
          color: #fff;
          font-size: 1.7rem;
        }
        span {
          color: #fff;
          padding-left: 1.5rem;
          font-size: 1.7rem;
          font-weight: 400;
        }
      }
      .course-title {
        font-size: 1.7rem;
        color: rgb(216, 216, 216);
        margin-left: 1.5rem;
        font-weight: 700;
        max-width: 300px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .header-status {
        font-size: 1.2rem;
        height: 2.4rem;
        margin-left: 1.5rem;
        text-transform: uppercase;
        margin-right: auto;
      }

      .preview {
        background-color: transparent;
        border: 1px solid #fff;
        margin-right: 1.5rem;

        &:hover {
          background-color: rgba(73, 73, 73, 0.534);
        }
        i {
          padding-left: 1rem;
        }
      }
    }
  }
}

.main-instructor-page {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  @import "../style-instructor/sidebar";
  .main-content {
    width: 100%;
    margin: 5rem 3rem 5rem 5rem;
    padding: 3rem;
    box-shadow: 0px 0px 10px rgba(109, 109, 109, 0.3);
    position: relative;
    background-color: var(--color-white);

    h6 {
      font-size: 2rem;
      padding: 1rem 3rem 3rem;
      border-bottom: 1px solid rgba(109, 109, 109, 0.3);
      margin: 0px -3rem 2rem;
    }
    p {
      margin-bottom: 2rem;
    }

    .edit-course-form {
      margin-top: 4rem;
      .form-group {
        margin-bottom: 15px;
        position: relative;
        label {
          display: flex;
          flex-direction: row;
          max-width: 100%;
          margin-bottom: 8px;
          font-weight: bold;
        }
        .ant-select-selection-item {
          line-height: 42px;
        }
        .ant-upload-list-item-name {
          max-width: 250px;
        }
        .ant-upload-list-item-card-actions {
          position: absolute !important;
        }
      }
      .form-group > span,
      .form-group .ant-select-selector,
      .goals-wrapper .ant-col > span,
      .requirements-wrapper .ant-col > span {
        border-radius: 0;
        width: 100%;
        height: 44px;
        border-color: rgb(158, 126, 126);
        input::placeholder {
          color: rgb(126, 119, 119) !important;
        }
      }

      .goals-wrapper,
      .requirements-wrapper {
        padding: 10px 0 20px;
        width: 100%;
      }
      .btn-remove {
        &:disabled {
          background-color: transparent;
        }
        &:disabled:hover {
          cursor: not-allowed;
        }
        svg {
          font-size: 18px;
        }
      }
      .add-response {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 30px;
        &.ant-btn-link {
          color: #5624d0;
        }
        svg {
          margin-right: 10px;
        }
      }

      .ql-toolbar.ql-snow {
        border-color: #9e7e7e;
      }
      .ql-container.ql-snow {
        border-color: #9e7e7e;
      }

      .instructor-profile {
        &__info {
          padding: 1rem;
          background-color: #fcaea0;
        }
      }
    }
  }
}
