.my-learning-section {
  .header-bar {
    color: #fff;
    h1 {
      padding: 5rem 5rem 2rem;
    }
    .bar {
      max-width: 1200px;
      margin: auto;
      padding: 0 5rem;
      span {
        padding-bottom: 6px;
        display: inline-block;
        border-bottom: 5px solid rgb(199, 199, 199);
      }
    }
  }
  .txt {
    padding: 7rem 2rem 2rem;
    height: 360px;
    text-align: center;

    p {
      font-size: 17px;
      margin-bottom: 2rem;
    }
    a {
      color: #5624d0;
      font-weight: 700;
    }
  }

  &__courses {
    max-width: 1200px;
    margin: auto;
    padding: 3rem 5rem;
  }
  .list-courses {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    .course {
      display: flex;
      flex-direction: column;
      border: 1px solid rgb(207, 207, 207);
      width: calc(25% - 30px);
      margin: 0 15px 30px;
      .profile-course {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem 2rem;
      }
      .name-course {
        margin-bottom: 10px;
        line-height: 1;
      }
      .course-footer {
        margin-top: auto;
        display: flex;
        flex-direction: column;

        a {
          font-size: 1.4rem;
          margin-left: auto;
          color: #00000080;
        }
        .progress-wrapper {
          margin-bottom: 1rem;
        }
        .course-rating {
          display: flex;
          align-items: center;
          i {
            font-size: 1.4rem;
          }
        }
      }
    }
  }
}
