.sidebar {
  padding-top: 5rem;
  width: var(--width-sidebar);
  z-index: 1000;
  background: var(--color-white);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 5rem;
  .navbar {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  li {
    padding-bottom: 2rem;
  }
  .navbar li .navbar-link {
    cursor: pointer;
    display: flex;
    flex-direction: column;
  }
  strong {
    margin-bottom: 2.5rem;
    display: inline-block;
    font-size: 2rem;
  }
  .icon {
    background-color: rgba(255, 255, 255, 0.04);
    width: 4rem;
    color: var(--color-dark);
    height: 4rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 4rem;
    position: relative;
    display: inline-block;
  }
  .navbar-link {
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    color: var(--color-dark);
    position: relative;
    z-index: 10;
    background-color: transparent;

    svg {
      font-size: 1.5rem;
      margin-right: 1rem;
    }

    &.active {
      background-color: var(--color-muted);
      color: #fff;
      i {
        color: #fff;
      }
    }
  }

  .submit {
    min-width: 260px;
    width: 100%;
    white-space: normal;
    color: #fff;
    background-color: #a435f0;
    border: 1px solid transparent;
    padding: 16px 10px;
    font-size: 15px;
    line-height: 1.35135;
    &:hover {
      background-color: rgba(155, 44, 230, 0.8);
    }
  }
}

// responsive

@media only screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
